<div>
  <div>
    <h3 class="tituloModal">Editar un estudiante</h3>
  </div>
  <form [formGroup]="formularioEstudianteEditar" (ngSubmit)="onSubmitEditar()">
    <div class="contenedorFormulario">
      <div>
        <label for="nombre">Nombre: </label>
        <input
          id="nombre"
          type="text"
          formControlName="nombre"
          style="width: 240px"
        />
      </div>

      <div>
        <label for="apellido">Apellido: </label>
        <input
          id="apellido"
          type="text"
          formControlName="apellido"
          style="width: 240px"
        />
      </div>

      <div>
        <label for="colegio">Colegio: </label>
        <!-- <input id="colegio" type="text" formControlName="colegio" style="width: 240px;" /> -->
        <select id="colegio" formControlName="colegio" style="width: 240px">
          <option *ngFor="let col of listaColegios" value="{{ col }}">
            {{ col }}
          </option>
        </select>
      </div>

      <div>
        <label for="grado">Grado: </label>
        <!-- <input id="grado" type="text" formControlName="grado" style="width: 240px;" /> -->
        <select id="grado" formControlName="grado" style="width: 240px">
          <option *ngFor="let grado of listaGrados" value="{{ grado }}">
            {{ grado }}
          </option>
        </select>
      </div>

      <div>
        <label for="profesor">Profesor: </label>
        <!-- <input id="profesor" type="text" formControlName="profesor" style="width: 240px;" /> -->
        <select id="profesor" formControlName="profesor" style="width: 240px">
          <option
            *ngFor="let profesor of listaProfesores"
            value="{{ profesor }}"
          >
            {{ profesor }}
          </option>
        </select>
      </div>

      <div
        style="display: flex; justify-content: space-evenly; margin: 10px 0 0 0"
      >
        <button class="btnCrear" type="submit">Modificar</button>
        <button class="btnCancelar" (click)="cerrarModal()">Cancelar</button>
      </div>
    </div>
  </form>
</div>
